@media(max-width: 768px){
    html{
        font-size: 35%;
    }

    .section-boxes{
        padding: 5rem 5rem;
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 5rem;
    }

    .main-heading{
        font-size: 5rem;
    }

    .my-image{
        width: 150px;
        height: 150px;
    }

    .info-wrapper p{
        font-size: 2rem;
        line-height: 15px;
    }

    .skills-wrapper{
        padding-bottom: 5rem;
    }
}